@use '../abstracts' as *;


.row_section {
    margin-top: -160px;
    padding: 60px 0 ;	
    position: relative;
    background-image: linear-gradient(transparent 0%, #141414 12% 100%)
}


@include desktop2 {
    .row_section {
        margin-top: -140px;
    }
}
