$main-bg-color: #141414;
$tit_color: #777;
$button-padding-type01: 8px 15px;
$button-white-hover: rgba(255, 255, 255, 0.75);
$button-gray-hover: rgba(109, 109, 110, 0.4);
$text-c-type1: rgba(255, 255, 255, 0.4);
$breakpoint-mobile: 360px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
